/*--
Author: Victor Meireles
Author URL: https://twitter.com/IAmDinamite
--*/
*{
    font-family: 'Open Sans', sans-serif;
    color: #414141;
    text-decoration: none;
    text-align: center;
}
body {
    background-image: url("../imagens/bg.jpg")!important;
}
h1, h2, h3, h4 {
    text-align: center;
    margin: 0 !important;
    padding-top: 0.5em;
}
h1 {
    font-size: 4em !important;
    text-transform: uppercase !important;
    padding: 2% !important;
}
.colab {
    margin: 1em;
    padding: 0.5em;
    border-style: solid;
    border-radius: 2em;
}
.colab img {
    width: 80%;
    max-width: 250px;
}
.colab img:hover {
    opacity: 0.5;
}
#form {
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 2em;
    width: 70%;
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;
}
#formlogin {
    margin: 0 auto;
    line-height: 2em;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 60%;
    padding: 1em;
}
input:focus, textarea:focus {
    border-color: #1874CD;
}
textarea {
    vertical-align: top;
    height: 2em;
    resize: none;
    overflow: auto;
}
button {
    border-radius: 0.3em;
    border: 1px solid #CCC;
}
button:hover {
    border-color: #1874CD;
    background: #CCC;
}
a:hover {
    color: #1874CD;
}
label {
    text-align: left;
    font-weight: bold;
}
input, textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 0.2em;
    min-width: 59%;
}
.floatl{
    float: left;
    width: 99%;
    border: 1px solid #CCC;
    border-radius: 0.2em;
    text-align: right;
    padding-right: 1em;
    margin-left: 1%;
}
.floatr{
    float: right;
    width: 99%;
    border: 1px solid #CCC;
    border-radius: 0.2em;
    text-align: right;
    padding-right: 1em;
    margin-right: 1%;
}
#resp {
    float: left;
    width: 99%;
    border: 1px solid #CCC;
    border-radius: 0.2em;
    text-align: left;
    padding-left: 1em;
    margin-left: 1%;
}
.select {
    float: left;
    width: 49.5%;
    border: 1px solid #CCC;
    border-radius: 0.2em;
    text-align: right;
    padding-right: 1em;
}
.select:last-child {
    margin-right: 1%;
}
.full{
    float: left;
    width: 98%;
    text-align: center;
    margin: 0.5em;
}
.full textarea{
    width: 100%;
    height: 3em;
}
.full input {
    min-width: auto !important;
}
ul li {
    text-align: left;
}
#principalcolab{
    width: 80%;
    display: inline-block;
}
#areatxt3 {
    width: 50%;
    position: relative;
    margin: 5% auto;
    padding: 1em;
    border-radius: 1em;
    background: #fff;
    overflow: auto;
}
.col-md-6{
    padding: 0 !important;
}
#conteudo {
    background: white;
}
table {
   margin-left: auto;
   margin-right: auto;
}
th{
    text-align: center !important;
}
td{
    text-align: left !important;
    padding: 0.2em !important; 
}
#deluser {
    min-width: 50%;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
}
#deluserbtn{
    width: 20% !important;
    min-width: 20% !important;
}
#userscadastrados{
    padding: 1em;
    border-collapse: collapse;
}
.tarifadores_tel{
    padding: 1em;
    border-collapse: collapse;
    float: left;
    width: 48%;
    margin: 1%;
}
.tarifadores_imp{
    padding: 1em;
    border-collapse: collapse;
    float: right;
    width: 48%;
    margin: 1%;
}
