/*--
Author: Victor Meireles
Author URL: https://twitter.com/IAmDinamite
--*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 480px) {

.slider {
	display: none;
}
.area, .advogado {
	padding-right: 10% !important;
	padding-left: 10% !important;
	padding-bottom: 12% !important;
	width: 80% !important;
	height: auto !important;
}
.area img, .advogado img{
	/*width: 100%;*/
	max-width: 200px;
}
.imagemarea, .imagemadv{
	display: none !important;
}
.modalDialog > div {
	font-size: 1.4em !important;
	width: 80% !important;
}
.area h3:before {
    display: inline-block;
	margin: 2%;
    height: 0.1em;
    content: " ";
    text-shadow: none;
    background-color: #414141;
    width: 3%;
}
.area h3:after {
    display: inline-block;
	margin: 2%;
    height: 0.1em;
    content: " ";
    text-shadow: none;
    background-color: #414141;
    width: 3%;
}
.area h3 {
	font-size: 1.5em;
}	
#bodyimagens{
	display: none;
}
#texto, #sobre2{
	width: 80%;
	font-size: 1.3em;
}
#conteudo h1 {
	padding-bottom: 1%;
	font-size: 1.9em;
}
#conteudo h1:first-child:before {
 	display: none;
}
#conteudo h1:first-child:after {
    display: none;
}
.advogado h1 {
	font-size: 1.7em !important;
	font-weight: normal;
	color: #000;
	padding-bottom: 0em !important;
}
.advogado h3 {
	font-size: 1.5em;
	font-weight: normal;
	color: #000;
}
.advogado h2 {
	font-size: 1.3em;
	font-weight: normal;
	color: #000;
	padding-bottom: 0em !important;
}
.advogado h4 {
	font-size: 1em;
	font-weight: normal;
	color: #000;
}
#logo img {
    content: url("../imagens/logo2.png");
}
#menu {
	width: 100%;
	background: #1874CD;
	line-height: 1em;
	text-align: left;
	font-size: 2em;
	border: solid 1px #000;
}
#menu ul li a{
	text-decoration: none;
	font-size: 0.7em !important;
}
#menu ul li:first-child{
	margin-left: 0%;
}
#menu ul li:last-child{
	margin-right: 0%;
}
#menu ul {
	border: none;
}
#menu ul li {
	display: block;
	border: solid 1px #000;
	width: 100%;
	color: #fff !important;
}
#menu img {
	width: 30%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	-mz-transition:0.5s all;
}
#menu img:hover {
	opacity: 0.5;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	-mz-transition:0.5s all;
}
.mobile-menu {
    display: none;
}
#toggleMenu {
    position:absolute;
    cursor:pointer;
    left:-100%;
    top:-100%;
}
#toggleMenu + label {
    display:inline-block;
    padding: 0.5em;
    text-decoration: none;
}
#toggleMenu:checked ~ .mobile-menu {
    display: block;
	line-height: 1.5em;
  }
#toggleMenu, #menu img {
	display: -webkit-inline-box;
}
#form {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
}
#form legend {
	font-size: 1em !important;
	margin: 0.6em !important;
}

}


/* ------------------------ */
@media only screen 
and (min-width : 480px) 
and (max-width : 1024px) {

#conteudo h1 {
	padding-bottom: 1%;
	font-size: 2.3em;
}
.slider {
	display: none;
}
#logo img {
    content: url("../imagens/logo2.png");
}
#texto, #sobre2 {
	width: 80%;
	font-size: 1.6em;
}
#bodyimagens {
	display: none;
}
footer, footer a, footer p {
	font-size: 1em;
}
#menu {
	width: 100%;
	background: #1874CD;
	line-height: 1em;
	text-align: left;
	font-size: 2em;
	border: solid 1px #000;
}
#menu ul li a{
	text-decoration: none;
	font-size: 0.9em;
}
#menu ul li:first-child{
	margin-left: 0%;
}
#menu ul li:last-child{
	margin-right: 0%;
}
#menu ul {
	border: none;
}
#menu ul li {
	display: block;
	border-top: solid 1px #000;
	width: 100%;
	color: #fff !important;
}
#menu img {
	width: 30%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	-mz-transition:0.5s all;
}
#menu img:hover {
	opacity: 0.5;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	-mz-transition:0.5s all;
}
.mobile-menu {
    display: none;
}
#toggleMenu {
    position:absolute;
    cursor:pointer;
    left:-100%;
    top:-100%;
}
#toggleMenu + label {
    display:inline-block;
    padding: 0.5em;
    text-decoration: none;
}
#toggleMenu:checked ~ .mobile-menu {
    display: block;
	line-height: 1.5em;
  }
#toggleMenu, #menu img {
	display: -webkit-inline-box;
}

.area, .advogado {
	padding-right: 4%;
	padding-left: 4%;
	width: 42%;
}	
.area h3 {
	font-size: 1.7em;
}
.advogado {
	height: 17em;
}
.advogado h1 {
	font-size: 1.4em !important;
	font-weight: normal;
	color: #000;
	padding-bottom: 0em !important;
}
.advogado h3 {
	font-size: 1.3em;
	font-weight: normal;
	color: #000;
}
.advogado h2 {
	font-size: 1.8em;
	font-weight: normal;
	color: #000;
	padding-bottom: 0em !important;
}
.advogado h4 {
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
}	
.area img{
	width: 100%;
	max-width: 100px;
}
.area {
	height: 13em;
}
.escritorio p {
	font-size: 1.5em;
}
.modalDialog > div {
    width: 70%;
	font-size: 2em;
}
.modalDialog > h2 {
    text-align: center;
}
.imagemarea, .imagemadv {
	display: none;
}
#form {
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
}
#form legend {
	font-size: 1.6em !important;
	margin: 0.8em !important;
}
.dropdown-content{
    display: none;
}
.dropdown:hover .dropdown-content {
    display: none;
}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1600px) {

#texto, #sobre2 {
	font-size: 1.2em;
}
#menu ul li {
	width: 13%;
}
#texto, #sobre2{
	width: 53%;
}
#bodyimagens{
	width: 25%;
}
}