*{
	font-family: 'Open Sans', sans-serif;
	color: #414141;
	text-decoration: none;
}
h2, h3, h4, h5 {
	text-align: center;
    margin: 0;
}
#principal{
	margin: 0;
}
#cabecalho {
	text-align: right;
}
table {
    width: 100%;
	border-collapse: collapse;
}
#clientes1 td{
	width: 16.5%;
}
#clientes2 td{
	width: 50%;
}
#clientes3 td{
	width: 25%;
}