/*--
Author: Victor Meireles
Author URL: https://twitter.com/IAmDinamite
--*/
*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	color: #414141;
}
html,body {
	background:#FFF;
	font-size:1em;
	margin: 0px 0px 0px 0px;
	height:100%; 
}

.clear {
	clear: both;
	height: 0;
}

h1, h2 {
	text-align: center;
}
/*Logo*/
#logo {
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
	background-image: url("../imagens/bg.jpg");
}
#logo img {
	width: 100%;
	max-width: 900px;
}

/*Menu*/
#menu {
	width: 100%;
	background: #1874CD;
	line-height: 2.5em;
}
#toggleMenu, #menu img {
	display: none;
}
#menu ul li {
	display: inline-block;
	text-align: center;
	width: 13.9%;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
#menu ul li a{
	text-decoration: none;
	color: #FFF !important;
	font-size: 1.1em;
	display:block;
}
/*#menu ul li:first-child{
	margin-left: 10%;
}
#menu ul li:last-child{
	margin-right: 10%;
}*/
#menu ul li:hover{
	background-color: #999999;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
#menu ul {
	border: solid 0.1em #000;
}
/*Slider*/
.slider {
	width: 100%;
	text-align: center;
	border-bottom: solid 0.1em #000;
}
.slider img{
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.w3-animate-fading {
	-webkit-animation:fading 4s infinite;
	animation:fading 4s infinite;
	}
@-webkit-keyframes fading{
	0%{opacity:0}50%{opacity:1}100%{opacity:0}
}

#conteudo {
	text-align: justify;
	padding-top: 3em;
}
#conteudo h1 {
	padding-bottom: 2em;
}
#conteudo h1:first-child:before {
    display: inline-block;
	margin: 0.3em;
    height: 0.1em;
    content: " ";
    text-shadow: none;
    background-color: #414141;
    width: 10%;
}
#conteudo h1:first-child:after {
    display: inline-block;
	margin: 0.3em;
    height: 0.1em;
    content: " ";
    text-shadow: none;
    background-color: #414141;
    width: 10%;
}
#texto{
	width: 45%;
	float: left;
	padding-left: 10%;
	margin-right: 1em;
	margin-bottom: 3em;
}
#bodyimagens{
	width: 27%;
	float: right;
	padding-right: 10%;
	text-align: center;
}
#bodyimagens img{
	width: 100%;
	max-width: 350px;
	margin-top: 0.5em;
	margin-bottom: 2em;
	border: solid 0.1em #000;
}
/*Areas*/
#areas, #advogados, #escritorios, #noticias {
	padding-right: 5%;
	padding-left: 5%;	
}
.noticia {
	max-height: 20em;
	overflow: auto;
}

.noticia::-webkit-scrollbar {
	width: 1em;
 }
.noticia::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 1em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
 }
 
 .noticia::-webkit-scrollbar-thumb {
	border-radius: 1em;
	border-radius: 1em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }

.pnoticia{
	border-bottom: dotted 1px #000;
}
.escritorio, .contatomain {
	margin-bottom: 3em;
}
.noticia {
	line-height: 1.6em;
	width: 100%;
	padding: 1%;
	text-align: justify;
	border: solid 0.1em #000;
	border-radius: 1em;
	margin-bottom: 3em;
}
.noticia a{
	text-decoration: none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.noticia a:hover{
	opacity: 0.5;
	text-decoration: none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.area, .advogado {
	float: left;
	width: 27%;
	padding: 2.5%;
	text-align: center;
}
.area a:hover {
	opacity: 0.5;
}
.advogado a:hover {
	opacity: 0.5;
}
.area a, .advogado a{
	text-decoration: none;
	color:#000;
}
.imagemarea {
	float: left;
	width: 30%;
	padding: 1em;
}
.imagemadv {
	float: left;
	width: 40%;
	padding: 0.5em;
}
.advogado h2, .advogado h3, .advogado h4{
	font-weight: normal;
	color: #000;
}
.advogado h1 {
	font-size: 1.35em;
	font-weight: normal;
	color: #000;
	padding-bottom: 0em !important;
}
.advogado h3 {
	font-size: 1em;
	font-weight: normal;
	color: #000;
}

.advogado h2 {
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
	padding-bottom: 0em !important;
}
.advogado h4 {
	font-size: 0.9em;
	font-weight: normal;
	color: #000;
}

.advogado img{
	border-radius: 1em;
}
.areatxt p, .advtxt p{
	color: #000;
	text-align:justify;
}
.advtxt p {
	font-size: 0.9em;
}
/*Modal*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
	overflow: scroll;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 30%;
    position: relative;
    margin: 5% auto;
    padding: 1em;
    border-radius: 1em;
    background: #fff;
	overflow: auto;
}
.close {
    color: #FFFFFF;
    position: absolute;
    right: 0.2em;
    text-align: center;
    top: 0.2em;
    width: 1.3em;
    text-decoration: none;
    font-weight: bold;
}
.close:hover {
    opacity: 0.5;
}

#main {
	position: relative;
}

iframe {
	width: 100%;
	height: 20em;;
	border: none;
	border-radius: 1em;
}
/*Form*/
#form {
	line-height: 1em;
	width: 80%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
	padding-bottom: 2em;
}
form input[type="submit"] {
	width: 50%;
	margin-bottom: 2em;
	text-decoration: none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;

}
form input[type="submit"]:hover {
	opacity: 0.5;
	text-decoration: none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
#form legend{
	font-size: 2em;
	margin: 1em;
}
input, textarea {
    width: 80%;
    padding: 1em;
    margin: 0.3em;
	line-height: 1em;
	resize: none;
	font-size: 1em;
}
textarea {
	min-height: 8em;
}
/*Rodapé*/
footer {
	background: #1874CD;
	position: static;
	bottom: 0;
	text-align: center;
	padding: 1em;
	line-height: 2em;
	clear: both;
	border: solid 0.1em #000;
 }
footer p{
	color:#FFF;
}
footer a{
	color:#FFF;
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	-mz-transition:0.5s all;
}
footer a:first-child{
	padding-right: 5%;
}
/*footer a:nth-child(3), a:nth-child(4){
	padding-left: 5%;
}*/
footer a:nth-child(3){
	padding-left: 5%;
}
footer a:hover{
	color:#000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	-mz-transition:0.5s all;
}
footer img {
	width: 1.5em;
	height: 1.5em;
}
#sobre2 {
	width: 80%;
	display: inline-block;
	padding: 1em;
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2em;
}
#sobre2 h2{
	text-align: left !important;
}
#sobre2 ul {
	padding-left: 2em;
}
#curriculo, #areadiv {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
}

#areadiv, #curriculo{
    width: 82%;
    padding: 0.5em;
    margin: 0.3em;
    line-height: 1em;
    resize: none;
    font-size: 1em;
    display: inline-block;
    text-align: center;
}
#curriculo{
    padding-top: 1em;
    padding-bottom: 1em;
}
#areadiv select{
    height: 2.5em;
}
#curriculoinput{
    width: auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.fileContainer {
    background: #e6e6e6;
    border-radius: .5em;
    padding: .5em;
    border: 1px solid #000;
}
.fileContainer:hover{
    opacity: 0.7;
}

#curriculotxt {
    width: 60%;
    display: inline-block;
    padding: 1em;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2em;
    font-size: 1.3em;
}

#trabalhe{
    padding-bottom: 0em!important;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #1874CD;
    width: 13.9%;
    font-size: 0.7em;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:first-child{
    border-bottom: solid 0.1em #000;
    border-top: solid 0.1em #000;
}
.dropdown-content a:last-child{
    border-bottom: solid 0.1em #000;
}
.dropdown-content a{
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    -ms-transition: .3s all;
}
.dropdown-content a:hover{
    background-color: #999999;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    -ms-transition: .3s all;
}
#enviaemail{
    cursor: pointer;
}
#noticias-link{
    text-decoration: none;
}
#noticias-link:hover{
    opacity: 0.7;
}
#captcha{
    padding-left: 33%;
}